<div class="flex flex-col p-6 sm:p-10 space-y-6 relative h-screen w-screen">
  <header class="flex flex-col items-center px-5 py-6 space-y-6 md:space-y-0 md:flex-row justify-between">
      <h1 class="text-3xl font-extrabold leading-none tracking-tight md:text-4xl lg:text-5xl ">Teams</h1>
    <% if user_signed_in? && (current_user.admin? || current_user.manager?) %>
      <%= link_to "New team", new_team_path, class:"flex justify-center text-white bg-rose-red hover:bg-dark-rose font-bold py-2 px-4 rounded m-auto", data: { turbo_frame: "new_modal" } %>
    <% end %>
  </header>
  <main class="flex flex-col overflow-y-auto px-5">
    <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6 py-6" >
      <% @teams.each do |t| %>
        <button data-box="<%= t.id%>" class="taxation-button btn-ouline box flex items-center p-8 bg-white shadow rounded-lg">
            <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-dark-purple bg-light-purple rounded-full mr-6" aria-hidden="true">
              <%= svg_icon('teams', xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 24 24', fill: 'currentColor', class: 'w-8 h-8') %>              
            </div>
            <article class="text-start">   
              <p class="block text-2xl font-bold"><%= link_to t.name, department_team_path(t.department, t) %></p>
              <p class="block text-gray-500"><%= t.department.name %></p>
            </article>
        </button>
      <% end %>
    </section>
  </main>
</div>

