<div class="flex flex-col h-screen justify-center items-center text-center">
    <header class="flex flex-col items-center mt-6">
        <section class="py-6 flex flex-col items-center">
            <h2 class="text-2xl font-bold tracking-widest uppercase"><%= @team.name %></h2>
            <h3 class="text-1xl font-semibold tracking-widest"><%= @team.department.name %></h3>
        </section>
    </header>
    <main class="flex flex-col overflow-y-auto p-6 bg-light-purple shadow-2xl shadow-purple-500/50 rounded-md">
        <section class="flex flex-col my-3">
            <h3 class="flex items-start my-4 mx-2 text-2xl font-light ">Description</h3>
            <section class="grid grid-cols-1 my-3 ">
                <article class="flex items-center p-8 bg-white shadow rounded-lg">
                    <h3 class="flex items-start text-gray-500"><%=  @team.description %></h3>
                </article>
            </section>
            <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
                <article class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-800 bg-green-200 rounded-full mr-6">
                        <%= svg_icon('people', xmlns: 'http://www.w3.org/2000/svg', aria: {hidden:"true"}, viewBox: '0 0 24 24', fill: 'none', stroke: "currentColor", class: 'w-6 h-6') %>
                    </div>
                    <section>
                        <h4 class="flex text-xl font-bold">Members</h4>
                        <p class="flex items-start text-gray-500"><%= @team.employees.count%></p>
                    </section>
                </article>
                <article class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-800 bg-green-200 rounded-full mr-6">
                        <%= svg_icon('people', xmlns: 'http://www.w3.org/2000/svg', aria: {hidden:"true"}, viewBox: '0 0 24 24', fill: 'none', stroke: "currentColor", class: 'w-6 h-6') %>
                    </div>
                    <section>
                        <h4 class="flex text-xl font-bold">Manager</h4>
                        <% if @team_manager.present? %>
                            <p class="flex items-start text-gray-500"><%= @team_manager.first_name.capitalize %> <%= @team_manager.last_name.capitalize %></p>
                        <% else %>
                            <p class="flex items-start text-gray-500 break-words">Who is it?</p>
                        <% end %>
                    </section>
                </article>
            </section>
        </section>
        <section class="flex flex-col my-3">
            <h3 class="flex items-start my-4 mx-2 text-2xl font-light ">Team members</h3>
            <section class="row-span-3 bg-white shadow rounded-lg">
                <article class="overflow-y-auto" style="max-height: 24rem;">
                    <ul class="p-6 space-y-6">
                    <% if @team.employees.present? %>
                        <% @team.employees.each do |employee| %>
                            <li class="flex items-center">
                                <figure class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                                    <%= image_tag(employee.avatar) %>
                                </figure>
                                <% if user_signed_in?%>
                                    <p class="flex-1 w-1/2 break-words text-gray-600"><%= link_to employee.fullname, employee_path(employee) %></p>
                                <% else %>
                                    <p class="flex-1 w-1/2 break-words text-gray-600"><a href="#" onclick="showPopup(); return false;"><%= employee.fullname %></a></p>                
                                <% end %>
                                <p class="flex-1 w-1/2 break-words text-end  ml-auto font-semibold"><%= employee.department.name %></p>
                            </li>
                        <% end %>
                    <% else %>
                        <p class="font-semibold">You need to add members to this team</p>
                    <% end %>
                    </ul> 
                </article>
            </section>
        </section>
    </main>
</div>