<% if @managers %>
  <% @managers.each do |e| %>
    <button data-box="<%= e.id%>" class="taxation-button btn-ouline box flex items-center p-8 bg-light-gray shadow rounded-lg">
      <article class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-dark-purple bg-light-purple rounded-full mr-6">
        <%= svg_icon('person', xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 24 24', fill: 'currentColor', class: 'w-8 h-8') %>
      </article>
      <article class="text-start">
        <p class="block font-semibold text-dark-indigo ">Manager</p>
        <% if user_signed_in? %>
          <p class="block text-2xl font-bold"><%= link_to e.fullname, e %></p>
        <% else %>
          <p class="block text-2xl font-bold"><a href="#" onclick="showPopup(); return false;"><%=e.fullname %></a></p>
        <% end %>
        <p class="block text-lg"><%= e.team.name %></p>
      </article>
    </button>
  <% end %>
<% end %>
<% if @standard_employees %>
  <% @standard_employees.each do |e| %>
    <button data-box="<%= e.id%>" class="taxation-button btn-ouline box flex items-center p-8 bg-white shadow rounded-lg">
      <article class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-dark-purple bg-light-purple rounded-full mr-6">
        <%= svg_icon('person', xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 24 24', fill: 'currentColor', class: 'w-8 h-8') %>
      </article>
      <article class="text-start">
        <% if user_signed_in? %>
          <p class="block text-2xl font-bold"><%= link_to e.fullname, e %></p>
        <% else %>
          <p class="block text-2xl font-bold"><a href="#" onclick="showPopup(); return false;"><%=e.fullname %></a></p>
        <% end %>
        <p class="block text-lg"><%= e.team.name %></p>
      </article>
    </button>
  <% end %>
<% end %>

