  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}, data: { turbo: false }   ) do |f| %>
    <%= f.error_notification %>
    <%= f.simple_fields_for :employee do |employee_fields| %>
      <div class="form-inputs">
        <%= employee_fields.input :first_name,
                                  required: true,
                                  input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                                  label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                                  wrapper_html: {class: "mt-2"} %>
        <%= employee_fields.input :last_name,
                                  required: true,
                                  input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                                  label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                                  wrapper_html: {class: "mt-2"} %>
        <%= employee_fields.input :city,
                                  input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                                  label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                                  wrapper_html: {class: "mt-2"} %>
        <%= employee_fields.input :country,
                                  input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                                  label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                                  wrapper_html: {class: "mt-2"} %>
        <div class="flex flex-row my-4">
          <p class="block text-sm font-medium leading-6 text-gray-900">Is this employee a manager?</p>
          <%= employee_fields.input :manager, as: :boolean,  wrapper_html: {class: "block py-1.5 mx-4 shadow-sm placeholder:text-gray-400 sm:text-sm sm:leading-6"} %>
        </div>
        <%= employee_fields.input :team_id, collection: Team.all, label_method: :name, value_method: :id %>
        <%= employee_fields.input :position_id, collection: Position.all, label_method: :name, value_method: :id %>
      </div>
    <% end %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                    label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                    wrapper_html: {class: "mt-2"} %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                    label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                    wrapper_html: {class: "mt-2"} %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                    label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                    wrapper_html: {class: "mt-2"} %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "update", class:"flex w-full justify-center rounded-md bg-dark-emerald px-3 py-1.5 my-8 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-medium-emerald focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-light-purple" %>
    </div>
  <% end %>