
<!-- Tailwind component 
-->

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <header class="sm:mx-auto sm:w-full sm:max-w-sm">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-14 w-auto mx-auto px-2 py-1 text-dark-purple">
        <path fill-rule="evenodd" d="M4.5 2.25a.75.75 0 000 1.5v16.5h-.75a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5h-.75V3.75a.75.75 0 000-1.5h-15zM9 6a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H9zm-.75 3.75A.75.75 0 019 9h1.5a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM9 12a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H9zm3.75-5.25A.75.75 0 0113.5 6H15a.75.75 0 010 1.5h-1.5a.75.75 0 01-.75-.75zM13.5 9a.75.75 0 000 1.5H15A.75.75 0 0015 9h-1.5zm-.75 3.75a.75.75 0 01.75-.75H15a.75.75 0 010 1.5h-1.5a.75.75 0 01-.75-.75zM9 19.5v-2.25a.75.75 0 01.75-.75h4.5a.75.75 0 01.75.75v2.25a.75.75 0 01-.75.75h-4.5A.75.75 0 019 19.5z" clip-rule="evenodd" />
    </svg>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Edit employee's information</h2>
  </header>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <%= f.simple_fields_for :employee do |employee_fields| %>
      <div class="form-inputs">
        <%= employee_fields.input :first_name,
                                  required: true,
                                  input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                                  label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                                  wrapper_html: {class: "mt-2"} %>

        <%= employee_fields.input :last_name,
                                  required: true,
                                  input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                                  label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                                  wrapper_html: {class: "mt-2"} %>
        <%= employee_fields.input :city,
                                  input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                                  label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                                  wrapper_html: {class: "mt-2"} %>
        <%= employee_fields.input :country,
                                  input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                                  label_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                                  wrapper_html: {class: "mt-2"} %>
        <div class="flex flex-row my-4">
          <p class="block text-sm font-medium leading-6 text-gray-900">Is this employee a manager?</p>
          <%= employee_fields.input :manager, as: :boolean,  wrapper_html: {class: "block py-1.5 mx-4 shadow-sm placeholder:text-gray-400 sm:text-sm sm:leading-6"} %>
        </div>
        <%= employee_fields.input :team_id, collection: Team.all, label_method: :name, value_method: :id %>
        <%= employee_fields.input :position_id, collection: Position.all, label_method: :name, value_method: :id %>
      </div>
    <% end %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                    abel_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                    wrapper_html: {class: "mt-2"} %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                    abel_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                    wrapper_html: {class: "mt-2"} %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }, 
                    abel_html: {class:"block text-sm font-medium leading-6 text-gray-900"},
                    wrapper_html: {class: "mt-2"} %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "update", class:"flex w-full justify-center rounded-md bg-dark-emerald px-3 py-1.5 my-8 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-medium-emerald focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-light-purple" %>
    </div>
  <% end %>
  </div>

</div>

