<div class="p-6 sm:p-10 h-screen w-screen">
  <header class="flex flex-col items-center py-12 space-y-6 md:space-y-0 md:flex-row justify-between">
    <h2 class="mb-4 text-4xl font-extrabold leading-none tracking-tight  md:text-5xl lg:text-6xl ">Dashboard</h2>
    <% if user_signed_in? %>
      <%= link_to 'New employee', new_employee_path, data: { turbo_frame: "new_modal" }, class:'flex justify-center text-white bg-rose-red hover:bg-dark-rose font-bold py-2 px-4 rounded' %>
    <% end %>
  </header>
  <main class="pb-4">
    <section class="grid gap-6 md:grid-cols-2 xl:grid-cols-4">
      <article class="flex items-center p-8 bg-white shadow-lg hover:shadow-2xl drop-shadow-xl rounded-lg">
        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-dark-purple bg-light-purple  rounded-full mr-6">
          <%= svg_icon('people', xmlns: 'http://www.w3.org/2000/svg', aria: {hidden:"true"}, viewBox: '0 0 24 24', fill: 'none', stroke: "currentColor", class: 'w-6 h-6') %>
        </div>
        <section>
          <h4 class="block text-gray-500">Employees</h4>
          <p class="block text-2xl font-bold"><%= @employees_count %></p>
        </section>
      </article>
      <article class="flex items-center p-8 bg-white shadow-lg hover:shadow-2xl drop-shadow-xl rounded-lg">
        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-dark-purple bg-light-purple rounded-full mr-6">
          <%= svg_icon('people', xmlns: 'http://www.w3.org/2000/svg', aria: {hidden:"true"}, viewBox: '0 0 24 24', fill: 'none', stroke: "currentColor", class: 'w-6 h-6') %>
        </div>
        <section>
          <h4 class="block text-gray-500">Managers</h4>
          <p class="block text-2xl font-bold"><%= @managers.count %></p>
        </section>
      </article>
      <article class="flex items-center p-8 bg-white shadow-lg hover:shadow-2xl drop-shadow-xl rounded-lg">
        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-dark-purple bg-light-purple rounded-full mr-6">
          <%= svg_icon('people', xmlns: 'http://www.w3.org/2000/svg', aria: {hidden:"true"}, viewBox: '0 0 24 24', fill: 'none', stroke: "currentColor", class: 'w-6 h-6') %>
        </div>
        <section>
          <h4 class="block text-gray-500">Teams</h4>
          <p class="block text-2xl font-bold"><%= @teams.count %></p>
        </section>
      </article>
      <article class="flex items-center p-8 bg-white shadow-lg hover:shadow-2xl drop-shadow-xl rounded-lg">
        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-dark-purple bg-light-purple rounded-full mr-6">
          <%= svg_icon('people', xmlns: 'http://www.w3.org/2000/svg', aria: {hidden:"true"}, viewBox: '0 0 24 24', fill: 'none', stroke: "currentColor", class: 'w-6 h-6') %>
        </div>
        <section>
          <h4 class="block text-gray-500">Employees with no teams</h4>
          <p class="block text-2xl font-bold"><%= @tbd_employees.count %></p>
        </section>
      </article>
      <article class="row-span-3 bg-white shadow-lg hover:shadow-2xl drop-shadow-xl rounded-lg">
        <header class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
          <h3>Employees</h3>
        </header>
        <section class="overflow-y-auto" style="max-height: 24rem;">
          <ul class="p-6 space-y-6">
            <% @employees.each do |employee| %>
              <li class="flex items-center">
                <figure class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                  <%= image_tag(employee.avatar, class: "w-full h-full object-cover") %>
                </figure>
                <% if user_signed_in?%>
                  <p class="flex-1 w-1/2 break-words text-gray-600"><%= link_to employee.fullname, employee_path(employee) %></p>
                <% else %>
                  <p class="flex-1 w-1/2 break-words text-gray-600"><a href="#" onclick="showPopup(); return false;"><%= employee.fullname %></a></p>                
                <% end %>
                <p class="flex-1 w-1/2 break-words text-end  ml-auto font-semibold"><%= employee.department.name %></p>
              </li>
            <% end %>
          </ul>
        </section>
      </article>
      <article class="row-span-3 bg-white shadow-lg hover:shadow-2xl drop-shadow-xl rounded-lg">
        <header class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
          <h3>Managers</h3>
        </header>
        <section class="overflow-y-auto" style="max-height: 24rem;">
          <ul class="p-6 space-y-6">
            <% @managers.each do |manager| %>
              <li class="flex items-center">
                <figure class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                  <%= image_tag(manager.avatar, class: "w-full h-full object-cover") %>
                </figure>
                <% if user_signed_in?%>
                  <p class="flex-1 w-1/2 break-words text-gray-600"><%= link_to manager.fullname, employee_path(manager) %></p>
                <% else %>
                  <p class="flex-1 w-1/2 break-words text-gray-600"><a href="#" onclick="showPopup(); return false;"><%= manager.fullname %></a></p>                
                <% end %>
                <p class="flex-1 w-1/2 break-words ml-auto font-semibold text-end"><%= manager.department.name %></p>
              </li>
            <% end %>
          </ul>
        </section>
      </article>
      <article class="row-span-3 bg-white shadow-lg hover:shadow-2xl drop-shadow-xl rounded-lg">
        <header class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
          <h3>Teams</h3>
        </header>
        <section class="overflow-y-auto" style="max-height: 24rem;">
          <ul class="p-6 space-y-6">
            <% @teams.each do |team| %>
              <li class="flex items-center">
                <div class="inline-flex flex-shrink-0 items-center justify-center h-12 w-12 text-dark-purple bg-light-purple rounded-full mr-6" aria-hidden="true">
                  <%= svg_icon('people', xmlns: 'http://www.w3.org/2000/svg', aria: {hidden:"true"}, viewBox: '0 0 24 24', fill: 'none', stroke: "currentColor", class: 'w-6 h-6') %>
                </div>
                <% if user_signed_in?%>
                  <p class="flex-1 w-1/2 break-words text-gray-600"><%= link_to team.name, department_team_path(team.department, team) %></p>
                <% else %>
                  <p class="flex-1 w-1/2 break-words text-gray-600"><a href="#" onclick="showPopup(); return false;"><%= team.name %></a></p>                
                <% end %>
                <p class="flex-1 w-1/2 break-words ml-auto font-semibold text-end"><%= team.department.name %></p>
              </li>
            <% end %>
          </ul>
        </section>
      </article>
      <% if @tbd_employees.present? || @tbd_dpt.present?%>
        <article class="row-span-3 bg-white shadow-lg hover:shadow-2xl drop-shadow-xl rounded-lg">
          <header class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
            <h3 class="font-semibold">FOR ACTION - Information to be defined</h3>
          </header>
          <section class="overflow-y-auto" style="max-height: 24rem;">
            <ul class="p-6 space-y-6">
              <% @tbd_employees.each do |employee| %>
                <li class="flex items-center">
                  <figure class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                    <%= image_tag(employee.avatar, class: "w-full h-full object-cover") %>
                  </figure>
                <% if user_signed_in?%>
                  <p class="flex-1 w-1/2 break-words text-gray-600"><%= link_to employee.fullname, employee_path(employee) %></p>
                <% else %>
                  <p class="flex-1 w-1/2 break-words text-gray-600"><a href="#" onclick="showPopup(); return false;"><%= employee.fullname %></a></p>                
                <% end %>
                  <p class="flex-1 w-1/2 break-words text-end  ml-auto font-semibold"><%= employee.department.name %></p>
                </li>
              <% end %>
            </ul>
          </section>
        </article>
      <% end %>
    </section>
  </main>
</div>
