<!DOCTYPE html>
<html>
  <head>
    <title>PayrollManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light-rose h-screen w-screen">
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "new_modal" %>
    <%= yield %>
  </body>
</html>